body {
    margin: 0;
}
.header {
    display: grid;
    grid-template-areas: 
    "block-1"
    "block-2";
    grid-template-rows: 7% 1fr;
    min-height: 98.5vh;
    border: 1px solid;
    border-radius: 4px;
    padding: 2px;
    margin: 0 auto;
    background: rgb(235, 217, 196);
}

/* Блок - 1  */

.header .block-1 {
    display: grid;
    grid-template-areas: 
    "block-4 block-5 block-6 block-7 block-8";
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    width: 99%;
    border: 1px solid;
    border-radius: 4px;
    margin: 0 auto;
    background: rgb(235, 217, 196);
}

.header .block-1 #block-4, .header .block-1 #block-5, .header .block-1 #block-6, .header .block-1 #block-7, .header .block-1 #block-8 {
    font-size: 58%;
    text-align: center;
    border: 1px solid;
    border-radius: 4px;
    margin: 5px;
    display: flex;
    align-items: center;
    justify-content: center

}


/* Блок - 2  */

.header .block-2 {
    grid-area: block-2;
    margin-top: 2px;
    margin-bottom: 2px;
    border: 1px solid;
    border-radius: 4px;
    text-align: center;
    background: rgb(235, 217, 196);

}

.table {
    width: 99%;
    margin: 0 auto;
}

.header .red {
    background: red;
}

.header .blue {
    background: rgb(155, 161, 252);
}

.header .blue1 {
    background: rgb(134, 217, 250);
}

.header .pink {
   background: rgb(252, 155, 155);
}

.header .yellow {
    background: rgb(242, 252, 155);
}

.header .green {
    background: rgb(155, 252, 168);
}

.header .grey {
    background: rgb(155, 155, 155);
}