body {
    background-color: bisque;
    border: 2px solid;
    text-align: center;
}
h6 {
    margin-bottom: 1%;
}
.table {
    margin: 2%;
}

.border {
    border: 2px solid;
}

.button {
    width: 80%;
    border-radius: 5px;
}

input {
    width: 80%;
}