

body {
    margin: 0;
        background: rgb(235, 217, 196);
}
.header {
    display: grid;
    grid-template-areas: 
    "block-1"
    "block-2"
    "block-22"
    "block-3";
    grid-template-rows: 7% 16% 16.8% 1fr;
    min-height: 99vh;
    border: 1px solid;
    border-radius: 4px;
    padding: 2px;
    margin: 0 auto;
    background: rgb(235, 217, 196);
}

/* Блок - 1  */

.header .block-1 {
    display: grid;
    grid-template-areas:
    "block-4 block-5 block-6 block-7 block-8";
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    width: 99%;
    border: 1px solid;
    border-radius: 4px;
    margin: 0 auto;
    background: rgb(235, 217, 196);
}

.header .block-1 #block-4, .header .block-1 #block-5, .header .block-1 #block-6, .header .block-1 #block-7, .header .block-1 #block-8 {
    font-size: 140%;
    text-align: center;
    border: 1px solid;
    border-radius: 4px;
    margin: 5px;
    display: flex;
      align-items: center;
      justify-content: center

}


/* Блок - 2  */

.header .block-2 {
    grid-area: block-2;
    margin-top: 2px;
    margin-bottom: 2px;
    border: 1px solid;
    border-radius: 4px;
    text-align: center;
    background: rgb(235, 217, 196);

}

.header .text-smol {
    font-size: 180%;
}

.header .color-box {
    background: rgb(207, 232, 252);
    border-radius: 4px;
    border: 1px solid;
    width: 97%;
    display: block;
    margin: 1px auto;
    }

.header .color1 {
 border: none;
    width: 99%;
    height: 7vh;
    background: rgb(207, 232, 252);
}

.header .color2 {
    border: none;
    width: 99%;
    height: 3vh;
    background: rgb(207, 232, 252);
}
.header .color3 {
    border: none;
    width: 99%;
    height: 3vh;
    background: rgb(207, 232, 252);
}

.header .border-top{
    border-top: rgb(136, 136, 136) 1px  solid;
 }

 /* Блок - 22   */

.header .block-22 {
   display: grid;
    grid-template-areas:
    "block1" "block2" "block3";
    grid-template-columns: 19% 1fr 19%;
    text-align: center;
    border-radius: 4px;
    border: 1px solid;
    padding: 14px;
    margin-bottom: 2px;


 }

 .header .block-22 #block1 {

    grid-column-start: 1;
    grid-column-end: 2;
 }

 .header .block-22 #block2 {

    grid-column-start: 2;
    grid-column-end: 3;
 }

 .header .block-22 #block3 {
    grid-column: 3 / 4;
 }

 .header .block-22 #block2 #bubble_display {
    width: 98%;
    min-height: 15vh;
    border-radius: 4px;
    border: 1px solid;
 }

 .header .block-22 #block1 #button_dubble_add {
    width: 170px;
    min-height: 15vh;
    border-radius: 4px;
    border: 1px solid;
    font-size: 280%;
    box-shadow: 1px 1px 0 #fff, inset 0 4px 4px rgb(0 0 0 / 30%);
    background: rgb(233, 233, 233);

 }

 .header .block-22 #block3 .button_size {
    width: 86%;
    min-height: 7vh;
    margin: 4px;
    border-radius: 4px;
    border: 1px solid;
    font-size: 280%;
    box-shadow: 1px 1px 0 #fff, inset 0 4px 4px rgb(0 0 0 / 30%);
 }



/* Блок - 3  */

.header .block-3 {
    text-align: center;
    border: 1px solid;
    border-radius: 4px;
    background: rgb(235, 217, 196);
    padding: 1%;
}

/* ------------------------------------------------------------------ */

 /* Кнопки Normal */

.header .normal {
    font-size: 80px;
    margin: 4px;
    width: 23%;
    min-height: 11vh;
    border-radius: 12px;
    box-shadow: 1px 1px 0 #fff, inset 0 4px 4px rgb(0 0 0 / 30%);
    background: rgb(233, 233, 233);
}
.header .button_resault {
    width: 47%;
}

/* Кнопки Full */

.header .full {

    margin: 6px 6px 6px 6px;
    width: 15%;
    min-height: 8vh;
    font-size: 477%;
    border-radius: 12px;
    box-shadow: 1px 1px 0 #fff, inset 0 4px 4px rgb(0 0 0 / 30%);
    background: rgb(233, 233, 233);
}
.header .button_resault {
    width: 27%;
}


/* Остальные свойства. -=Цвета=- */

.header .red {
    background: rgb(255, 87, 87);
}

.header .blue {
    background: rgb(155, 161, 252);
}

.header .blue1 {
    background: rgb(156, 226, 253);
}

.header .pink {
   background: rgb(252, 155, 155);
}

.header .yellow {
    background: rgb(242, 252, 155);
}

.header .green {
    background: rgb(91, 255, 112);
}

.header .grey {
    background: rgb(117, 117, 117);
}
.header .grey_01 {
    background: rgb(180, 180, 180);
}

.header .pink_font {
    color: rgb(247, 66, 66);
 }
 
 .header .yellow_font {
    color: rgb(235, 255, 59);
 }
 
 .header .green_font {
    color: rgb(22, 255, 53);
 }

 .header .blue_font {
    color: rgb(15, 187, 255);

 }